@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    position: fixed;
    width: 100%;
    background:#53626C;
    padding: 15px;
    font-family: 'Segoe UI',sans-serif;
}
 .navbar .max-width{
        display: flex;
        align-items: center;
        justify-content: space-between;
}
.navbar .logo a{
    color: white;
    margin-left: -20%;
    font-size: 35px;
    font-weight: 700;
}
.navbar .logo a span{
    color: #F0A501;
    font-size: 40px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: black;
}
 /* QOUTES CSS */
 section{
    padding: 100px 0;
}
.qoutes{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: #889EAF;
    color: white;

}
.qoutes .qoutestitle{
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: center;
}
.qoutes .qoutestitle::before{
    content:"";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background:white;
    transform: translateX(-50%);
}
.qoutes .qoutestitle::after{
    content:"QOUTES";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color:black;
    font-weight: 700;
    font-family:cursive;
    padding: 5px;
    background:#C9D6DF;
    transform: translateX(-50%);
    
}
.qoutes .qoutes-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.qoutes .qoutes-content .qoutescard{
    width: calc(29% - 20px);
    background: #C9D6DF;
    text-align: center;
    border-radius: 50%;
    padding: 20px 25px;
    border: 1px solid;
    padding: 30px;
    box-shadow: 5px 10px black;
    position: relative;

}
.qoutes .qoutes-content .qoutescard:hover{
    transform: translateY(10px);
}
.fblogo{
    border-radius: 50%;
}
.qoutes .qoutestext-heading{
    position: relative;
    color: black;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 8px;
    text-align: center;
}
.qoutescard p{
    text-align: center;
    color: black;
    margin: -5px;
    padding: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
/* Footer CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #E8F1F5;
}
*/
footer{
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-family:'Segoe UI';
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color:black;
    size: 200px;
}
.socials a i{
    font-size: 1.5rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color:#C62B88;
}

.footer-bottom{
    background: #000;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    color: white;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    color:#F0A501;
    font-weight: 600;
    text-transform: uppercase;
   
}